[project]
name = "project-scrumit-t1"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "jupyter>=1.1.1",
    "pandas>=3.0.1",
    "scikit-learn>=1.8.0",
]
